:root {
    --dark-green: #009B4D;
    --ivory-white: #FAF5E9;
    --tangerine-yellow: #FFCC00;
}

* {
    margin: 0;
    padding: 0;
    font-family: Value-Serif-Regular, Halant, Vollkorn, Georgia, sans-serif;
    text-align: center;
}

body {
    background: var(--ivory-white);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header,
footer {
    text-align: center;
    background-color: black;
    color: var(--ivory-white);
}

footer a {
    color: var(--tangerine-yellow);
}

main {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

main .controls{
    background-color: grey;
    padding: 10px;
}

main .controls,
main .placeholder{
    width: 12%;
}

main .grid {
    height: 75vh;
    aspect-ratio: 1/1;
    border: 3px black solid;
    background-color: white;
    
    display: flex;
    flex-direction: column;
}

.square{
    height: 100%;
    flex: 1;
    border: 1px solid grey;
    box-sizing: border-box;  
}

.line{
    flex: 1;
    display: flex;
    
}

.painted{
    background-color: black;
}